@model IEnumerable<ASP218458.Models.producto_compra>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Cantidad
        </th>
        <th>
            Numero Compra 
        </th>
        <th>
            Producto nombre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compra.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.nombre)
        </td>
        <td>
            <a class="btn btn-" href="/proveedors/Edit/@item.id">Edit <span class="glyphicon glyphicon-edit"></span></a>
            <a class="btn btn-" href="/proveedors/Details/@item.id">Details <span class="glyphicon glyphicon-eye-open"></span></a>
            <a class="btn btn-" href="/proveedors/Delete/@item.id">Delete <span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
}

</table>
