@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Proyecto Inventario ASP MVC</h1>
    <img src="https://newevolutiondesigns.com/images/freebies/4k-black-wallpaper-1.jpg" alt="Alternate Text" class="img-responsive imgHome" />
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <p><a href="/Usuario/Login" class="btn btn-warning dropdown-toggle">Ingresar</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administracion de Usuarios</h2>
        <img src="https://concepto.de/wp-content/uploads/2018/10/usuario-e1539725586690.jpg" alt="Alternate Text" class="img-responsive imgHome" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gestion de Productos</h2>
        <img src="https://static.doofinder.com/main-files/uploads/2021/02/producto-catalogo.png" alt="Alternate Text" class="img-responsive imgHome" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
        </p>
    </div>
    <div class="col-md-4">
        <h2>Gestion de Proveedores</h2>
        <img src="https://blog.riosulense.com/es/content/uploads/2019/06/relacion-com-los-proveedores.jpg" alt="Alternate Text" class="img-responsive imgHome" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
        </p>

    </div>
</div>